tunnel:
  name: hev101
  mtu: 1500
  ipv4: 198.18.0.1

socks5:
  address: 203.0.113.10
  port: 3901
  username: ExampleUser1
  password: ChangeThisPassword
  udp: 'udp'

misc:
  task-stack-size: 20480
  connect-timeout: 5000
  read-write-timeout: 60000
  tcp-read-write-timeout: 60000
